.footer {
    display: grid;
    height: 20vh;
    background-color: black;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);

    .social {
    grid-column: 1 / 2;
    grid-row: 2 /3;
    font-size: 2em;
    letter-spacing: 0.5em;
    text-align:center;
        a {
        text-decoration: none;
        color: #fff;
    }
    }

    .social__copy {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    color: #fff;
    text-align: center;
    }
}