.fondo {
    background: $capa, url(../img/hero-slide/fondo.png);
    background-size: cover;
    height: 80vh;
    width: 100%;
    

    .fondo-text {
        text-align: center;
        font-size: 2.8em;
        font-weight: 900;
        color: white;

        // ==Alinear== //
        left: 50%;
        position: absolute;
        top: 40%;
        transform: translate(-50%, -50%);

        @media (max-width: 500px) {

            font-size: 2em;
            font-weight: 900;
            text-align: left;
            
        }
    }
}