.news {
    display: grid;
    height: 40vh;
    grid-template-columns: repeat(3,1fr);
    margin-top: -10px;

    p {
        color: white;
    }

    h1 {
        padding-left: 10px;
        color: white;
    }

    //#1//
    .news__1 {
        background: $capa, url(../img/news/messi-news.jpg);
        background-size: cover;   
        display: grid;
        grid-template-rows:  repeat(3, 1fr);

        &:hover .news__content1 {
            display: block;
        }

        &:hover .news__h {
            display: none;
        }

        .news__h {
            grid-row: 3 / 4;
        }
        .news__content1 {
        grid-row: 1 / 4;
        padding: 30px;
        background-color: black;
        display: none ;
    }
    }

    //#2//
    .news__2 {
        background: $capa, url(../img/news/cr7-news.jpg);
        background-size: cover;   
        display: grid;
        grid-template-rows:  repeat(3, 1fr);

        &:hover .news__content2 {
            display: block;
        }

        &:hover .news__h {
            display: none;
        }

        .news__h {
            grid-row: 3 / 4;
        }

        .news__content2 {
        grid-row: 1 / 4;
        padding: 30px;
        background-color: black;
        display: none ;
    }
    }

    //#3//
    .news__3 {
        background: $capa, url(../img/news/rondon-news.jpg);
        background-size: cover;   
        display: grid;
        grid-template-rows:  repeat(3, 1fr);

        &:hover .news__content3 {
            display: block;
        }

        &:hover .news__h {
            display: none;
        }

        .news__h {
            grid-row: 3 / 4;
        }

        .news__content3 {
        grid-row: 1 / 4;
        padding: 30px;
        background-color: black;
        display: none ;
    }
    }

    
}

